/** Page Header **/
.page-header {
    position: fixed;
    width: 100%;
    z-index: 1;
}


/** Page Menu **/
.toggle-page-menu {
    display: none;
}


/** Page Button **/
.page-button {
    display: block;
    padding: 10%;
    margin: 5%;
    background-color: rgba(1, 50, 78, 0.35);
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease-out;
    transform: scale(0.9);
}

.page-button:hover {
    transform: scale(1);
}
