/** Page Header **/
.page-header {
    position: fixed;
    width: 100%;
    z-index: 1;
}


/** Page Menu **/
.toggle-page-menu {
    display: none;
}


/** Page Button **/
.page-button {
    display: block;
    padding: 10%;
    margin: 5%;
    background-color: rgba(1, 50, 78, 0.35);
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease-out;
    transform: scale(0.9);
}

.page-button:hover {
    transform: scale(1);
}


/** Tier Content **/

.tier-categories {
    float: right;
    margin-top: 2em;
}

.tier-category {
    position: relative;
    padding: 0.7em 1em;
    margin: 1em;
    background-color: rgb(51, 53, 55);
    border-radius: 3px;
}

.tier-title {
    font-weight: bold;
}
.tier-description {
    color: #d4d4d4;
    font-size: smaller;
    padding: 0.5em;
}
.tier-delivery {
    color: #d4d4d4;
    font-size: smaller;
    float: right;
}
.tier-backers {
    color: #d4d4d4;
    font-size: smaller;
}

/** Tier Content Mobile/Responsive View **/
@media only screen and (max-width: 750px) {
    .tier-categories {
        float: none;
        margin-top: 3em;
    }
}